<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="../js/vue.js"></script>
  </head>

  <body>
    <div id="app">
      <h1>学生信息</h1>

      <button @click="addAge">年龄+1岁</button><br />
      <button @click="addGender">添加性别属性，默认值：男</button><br />
      <button @click="student.gender = '未知'">修改性别属性</button><br />
      <button @click="addFriend">在列表首位添加一个朋友</button><br />
      <button @click="updateFirstFriend">修改第一个朋友的名字为：张三</button
      ><br />
      <button @click="addHobby">添加一个爱好</button><br />
      <button @click="updateFirstHobby">更改第一个爱好为：开车</button><br />
      <button @click="removeSmoke">过滤爱好中的抽烟</button><br />

      <h2>姓名：{{ student.name }}</h2>
      <h2>年龄：{{student.age}}</h2>
      <h2 v-if="student.gender">性别：{{student.gender}}</h2>
      <h2>爱好</h2>
      <ul>
        <li v-for="(item, index) in student.hobbies" :key="index">
          {{ item }}
        </li>
      </ul>
      <h2>朋友们</h2>
      <ul>
        <li v-for="(item, index) in student.friends" :key="index">
          {{ item.name }} -{{ item.age }}
        </li>
      </ul>
    </div>
    <script src="vue.min.js"></script>
    <script>
      Vue.config.productionTip = false;

      const vm = new Vue({
        el: "#app",
        data: {
          student: {
            name: "Tom",
            age: 18,
            hobbies: ["吃饭", "睡觉", "抽烟"],
            friends: [
              { name: "jerry", age: 35 },
              { name: "tony", age: 36 },
            ],
          },
        },
        methods: {
          addAge() {
            this.student.age++;
          },
          addGender() {
            Vue.set(this.student, "gender", "男");
          },
          addFriend() {
            this.student.friends.unshift({ name: "Marry", age: 18 });
          },
          updateFirstFriend() {
            this.student.friends[0].name = "张三";
          },
          addHobby() {
            this.student.hobbies.unshift("弹钢琴");
          },
          updateFirstHobby() {
            // Vue.set(this.student.hobbies, 0, "开车");
            this.student.hobbies.splice(0, 1, "开车");
          },
          removeSmoke() {
            this.student.hobbies = this.student.hobbies.filter((h) => {
              return h !== "抽烟";
            });
          },
        },
      });
    </script>
  </body>
</html>
