<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="../js/vue.js"></script>
  </head>

  <body>
    <div id="app">
      <h2>人员列表</h2>
      <ul>
        <li v-for="(item, index) in users" :key="index">
          {{item.name}} - {{item.age}}
        </li>
      </ul>
      <hr />
      <h2>汽车信息</h2>
      <ul>
        <li v-for="(item, key) in car" :key="key">{{key}}: {{item}}</li>
      </ul>
      <h2>字符串遍历</h2>
      <ul>
        <li v-for="(item, index) in str" :key="index">{{index}}: {{item}}</li>
      </ul>
      <h2>遍历指定次数</h2>
      <ul>
        <li v-for="(item, index) in 5" :key="index">{{index}}: {{item}}</li>
      </ul>
    </div>
    <script>
      Vue.config.productionTip = false;
      new Vue({
        el: "#app",
        data: {
          users: [
            { id: "001", name: "张三", age: 18 },
            { id: "002", name: "李四", age: 20 },
            { id: "003", name: "王五", age: 22 },
          ],
          car: {
            brand: "奥迪A8",
            price: "70万",
            color: "黑色",
          },
          str: "hello",
        },
      });
    </script>
  </body>
</html>
