<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="../js/vue.js"></script>
  </head>

  <body>
    <div id="app">
      <h2>人员列表</h2>
      <input type="text" v-model="keyWord" placeholder="请输入名字" />
      <ul>
        <li v-for="(item, index) in filterUsers" :key="item.id">
          {{item.name}} - {{item.age}} - {{item.gender}}
        </li>
      </ul>
    </div>
    <script>
      Vue.config.productionTip = false;

      // 用watch实现
      //#region
      // new Vue({
      //   el: "#app",
      //   data: {
      //     users: [
      //       { id: "001", name: "马冬梅", age: 18, gender: "女" },
      //       { id: "002", name: "周冬雨", age: 20, gender: "女" },
      //       { id: "003", name: "周杰伦", age: 38, gender: "男" },
      //       { id: "004", name: "温兆伦", age: 40, gender: "男" },
      //     ],
      //     filterUsers: [],
      //     keyWord: "",
      //   },
      //   watch: {
      //     keyWord: {
      //       immediate: true,
      //       handler(val) {
      //         this.filterUsers = this.users.filter((u) => {
      //           return u.name.indexOf(val) !== -1;
      //         });
      //       },
      //     },
      //   },
      // });
      //#endregion

      // 用计算属性
      new Vue({
        el: "#app",
        data: {
          users: [
            { id: "001", name: "马冬梅", age: 18, gender: "女" },
            { id: "002", name: "周冬雨", age: 20, gender: "女" },
            { id: "003", name: "周杰伦", age: 38, gender: "男" },
            { id: "004", name: "温兆伦", age: 40, gender: "男" },
          ],

          keyWord: "",
        },
        computed: {
          filterUsers() {
            return this.users.filter((u) => {
              return u.name.indexOf(this.keyWord) !== -1;
            });
          },
        },
      });
    </script>
  </body>
</html>
