<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="../js/vue.js"></script>
  </head>

  <body>
    <div id="app">
      <h2>人员列表</h2>
      <input type="text" v-model="keyWord" placeholder="请输入名字" />
      <button @click="sortType = 2">年龄升序</button>
      <button @click="sortType = 1">年龄降序</button>
      <button @click="sortType = 0">原顺序</button>
      <ul>
        <li v-for="(item, index) in filterUsers" :key="item.id">
          {{item.name}} - {{item.age}} - {{item.gender}}
        </li>
      </ul>
    </div>
    <script src="vue.min.js"></script>
    <script>
      Vue.config.productionTip = false;

      new Vue({
        el: "#app",
        data: {
          users: [
            { id: "001", name: "马冬梅", age: 31, gender: "女" },
            { id: "002", name: "周冬雨", age: 20, gender: "女" },
            { id: "003", name: "周杰伦", age: 45, gender: "男" },
            { id: "004", name: "温兆伦", age: 40, gender: "男" },
          ],
          sortType: 0,
          keyWord: "",
        },
        computed: {
          filterUsers() {
            const arr = this.users.filter((u) => {
              return u.name.indexOf(this.keyWord) !== -1;
            });

            if (this.sortType) {
              arr.sort((o1, o2) => {
                return this.sortType === 1 ? o2.age - o1.age : o1.age - o2.age;
              });
            }
            return arr;
          },
        },
      });
    </script>
  </body>
</html>
